In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from trading.helpers.stats import set_mean
%matplotlib inline
import seaborn as sns

from binance.client import Client
from history.retrieve import RetrieveHistory
from services.rest import BinanceRest
from services.setup import ClientSetup
from utils.constants import AppConstants

In [2]:
symbol = "XRPUSDT"
interval = Client.KLINE_INTERVAL_1MINUTE
client = ClientSetup(AppConstants.ENV_TEST).setup()
history = RetrieveHistory(symbol, interval, client)
data = history.get_historical_klines("6 hours ago UTC")
df = history.set_panda_dataFrame(data)

In [3]:
df

,Open,High,Low,Close,Volume,Number Of Trades
Open Time,,,,,,
2020-07-20 16:14:00,0.19501,0.19505,0.19500,0.19501,58709.3,27
2020-07-20 16:15:00,0.19501,0.19503,0.19499,0.19499,32813.8,35
2020-07-20 16:16:00,0.19499,0.19510,0.19499,0.19507,20271.4,25
2020-07-20 16:17:00,0.19507,0.19511,0.19500,0.19505,44492.2,31
2020-07-20 16:18:00,0.19505,0.19515,0.19504,0.19510,68970.8,46
...,...,...,...,...,...,...
2020-07-20 22:09:00,0.19603,0.19604,0.19600,0.19602,1048.2,10
2020-07-20 22:10:00,0.19602,0.19607,0.19602,0.19607,349.0,6
2020-07-20 22:11:00,0.19604,0.19609,0.19603,0.19608,1712.7,11
2020-07-20 22:12:00,0.19604,0.19604,0.19583,0.19587,85190.4,52
2020-07-20 22:13:00,0.19589,0.19589,0.19584,0.19585,3294.5,7

In [4]:
df['Avg Volume'] = set_mean(df['Volume'],20)
df

,Open,High,Low,Close,Volume,Number Of Trades,Avg Volume
Open Time,,,,,,,
2020-07-20 16:14:00,0.19501,0.19505,0.19500,0.19501,58709.3,27,NaN
2020-07-20 16:15:00,0.19501,0.19503,0.19499,0.19499,32813.8,35,NaN
2020-07-20 16:16:00,0.19499,0.19510,0.19499,0.19507,20271.4,25,NaN
2020-07-20 16:17:00,0.19507,0.19511,0.19500,0.19505,44492.2,31,NaN
2020-07-20 16:18:00,0.19505,0.19515,0.19504,0.19510,68970.8,46,NaN
...,...,...,...,...,...,...,...
2020-07-20 22:09:00,0.19603,0.19604,0.19600,0.19602,1048.2,10,33625.650
2020-07-20 22:10:00,0.19602,0.19607,0.19602,0.19607,349.0,6,32970.755
2020-07-20 22:11:00,0.19604,0.19609,0.19603,0.19608,1712.7,11,26252.670
2020-07-20 22:12:00,0.19604,0.19604,0.19583,0.19587,85190.4,52,28672.690
2020-07-20 22:13:00,0.19589,0.19589,0.19584,0.19585,3294.5,7,25778.030

In [6]:
df.dtypes

Open                float64
High                float64
Low                 float64
Close               float64
Volume              float64
Number Of Trades      int32
Avg Volume          float64
dtype: object